html, body
    padding 0
    margin 0
    font 16px/1.5 Lato, sans-serif
    background hsl(144deg, 30%, 60%)

a
    text-decoration none
    color hsl(200deg, 30%, 50%)

a:hover
    color hsl(200deg, 30%, 60%)
